﻿@*@model ToDo.Entities.TaskEntity*@
@model ToDo.WebUI.Models.TaskModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task Edit</legend>

        @Html.HiddenFor(model => model.Id) 

        @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDone)
        </div>

        <div class="editor-field">
            @* @Html.EditorFor(model => model.IsDone) *@
            @Html.CheckBoxFor(model => model.IsDone)
            @Html.ValidationMessageFor(model => model.IsDone)
        </div>

        <div>
            <form method="post" action="/todo/save"> 
                <input type="submit" name="editSave" value="Save" class="btn btn-default"/>
            </form>

            <form method="post" action="/todo/cancel"> 
                <input type="submit" name="editCancel" value="Cancel" class="btn btn-default"/>
            </form>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
