﻿@using ToDo.Entities

@{
    Layout = null;

    List<TaskEntity> tasks = ViewBag.Tasks;
    string taskTitle = ViewBag.TaskTitle;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
    <title>Index View</title>
</head>

<body>
    <div class="panel-heading right" style="float: right;">
        <form method="post" action="/security/logout">
            <input type="submit" name="Logout" value="Logout" style="padding: 10px;" class="btn btn-danger" />
        </form>
    </div>

    <div class="form-group">
        <form method="post">
            <label>New task :</label>
            <input type="text" name="txtTitle" value="" placeholder="Enter a new task..." />
            @*@Html.TextBoxFor(x => x.Title, new { @class = "form-control" })*@

            <input type="submit" name="submitAdd" value="Add" />
        </form>
    </div>

    @{
        string error = ViewBag.Error;

        if (error != null)
        {
            <div>
                <hr />
                @error
                <hr />
            </div>
        }
    }

    <div>
        <p>REPOSITORY :</p>
        <table class="table table-bordered" style="padding: 10px;">

            @* --- moved to TasksPartial ---
                @foreach (var task in tasks)
                {
                    <tr class="data-row">
                        <td style="padding: 10px;">@task.Id</td>
                        <td style="padding: 10px;">@task.Title</td>

                        <td style="padding: 10px;">
                            <input type="checkbox" value="@task.IsDone" class="checkbox" data-task-id="@task.Id"/>
                        </td>

                        <td>
                            <--- <form method="post" action="/todo/delete?taskId=@task.Id">  --->

                            <form method="post" action="/todo/delete">
                                <input type="hidden" name="taskId" value="@task.Id" />
                                <input type="submit" name="Delete" value="Delete" style="padding: 10px;" />
                                <a href="/todo/edit?id=@task.Id" style="padding:10px;">Edit</a>
                            </form>
                        </td>
                    </tr>
                }
                ------------------------------------ *@

            <tbody id="tasks-table">
                @Html.Partial("TasksPartial", tasks)
            </tbody>

        </table>
    </div>

    @* --- Filter Element Start ---*@
    <div class="select">
        <select id="task-status-filter" name="task-status-filter">
            <option name="all" value="all" selected="selected">All</option>
            <option name="completed" value="completed">Completed</option>
            <option name="inprogress" value="inprogress">InProgress</option>
        </select>
    </div>

    @* --- Filter Element End ---*@

    <script src="~/Scripts/pages/taskpage.js"></script>
</body>
</html>
