﻿@model ToDo.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
    string message = ViewBag.message;
}

<h2>Login</h2>

<form method="post">
    @*<input type="text" name="username" value="username" placeholder="Enter username here..." />*@
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @*<input type="text" name="password" value="password" placeholder="Enter password here..." />*@
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" name="login" value="Login" />

</form>

<p> @message </p>
